@include media-breakpoint-down(md) {
    .c-header {
        .px-3 {
            padding: 0 1rem !important;
        }

        .navbar-collapse {
            margin-top: 1rem;


        }

        nav ul li {
            border: 1px solid $grey;
            border-bottom: 0;

            &:last-child {
                border-bottom: 1px solid $grey;
            }

            .dropdown-toggle::after {
                position: absolute;
                right: 15px;
                top: 50%;
            }
        }

        .navbar-toggler {
            padding: 0 !important;
            width: 25px;
        }
    }
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 20px;
    cursor: pointer;
}

.mobile-menu::before,
.mobile-menu::after {
    content: '';
    position: relative;
    top: 0;
    width: 50%;
    transform: rotate(0);
}

.mobile-menu::before,
.mobile-menu::after,
.mobile-menu span {
    display: block;
    height: 2px;
    background-color: $black;
}

.mobile-menu span {
    width: 100%;
    margin: 5px 0;
    opacity: 1;
}

.mobile-menu::after {
    align-self: flex-end;
}

/* Open animation */
.mobile-menu.open::before {
    top: 5px;
    transform: rotate(45deg);
}

.mobile-menu.open::after {
    top: -10px;
    transform: rotate(-45deg);
}

.mobile-menu.open::before,
.mobile-menu.open::after {
    width: 100%;
    transition: width 0.4s ease-out,
        top 0.4s ease-in 0.4s,
        transform 0.4s cubic-bezier(0.45, 0.05, 0.55, 0.95) 0.9s;
}

.mobile-menu.open span {
    opacity: 0;
    transition: opacity 0.1s linear 0.9s;
}

/* Close animation */
.mobile-menu.close::before,
.mobile-menu.close::after {
    transition: transform 0.4s cubic-bezier(0.45, 0.05, 0.55, 0.95),
        top 0.4s ease-out 0.4s,
        width 0.4s cubic-bezier(0, 0.3, 0.81, 1.24) 0.9s;
}

.mobile-menu.close span {
    transition: opacity 0.1s linear 0.4s;
}

button:focus {
    outline: none;
    background-color: transparent;
    outline: none !important;
}